<template>
  <div >
    <div>
      <h2>Filtered by:</h2>
      <v-btn color='rgb(98, 147, 193, 1)' @click='searchEvent()'>Search</v-btn>
      <v-btn color='rgb(98, 147, 193, 1)' @click='planetsEvent'>Planets</v-btn>
    </div>
       <form class='form'>
            <v-text-field counter='20' class='field' v-if='search' type="text" placeholder="Type your search" v-model="query" @submit.prevent='doNothing()'></v-text-field>
            <br>
            <select  @change='chosenOption' v-if='planets' name="planet" id='options'>
              <option value="earth">earth</option>
              <option value="saturn">saturn</option>
              <option value="mercury">mercury</option>
              <option value="venus">venus</option>
              <option value="mars">mars</option>
              <option value="jupiter">jupiter</option>
              <option value="uranus">uranus</option>
              <option value="neptun">neptun</option>
            </select>
        </form>
         <transition-group name="fade" tag='div' class='hello'>
      <div class='addFlex' v-for="(item, index) in filteredList" :key='item.id'>
       
         
            <h1 >{{item.newTitle}}</h1>
            <!-- <p>{{item.newQuery}}</p> -->
            <img class="image" :src="item.newImage" alt="" :class="{'likeClass' : item.isActive}">
            <div class="subMenu" >
              <v-btn style='background-color: rgb(98, 147, 193, 1)' @click="deleteImage(index)">Delete image</v-btn>
              <v-btn style='background-color: rgb(98, 147, 193, 1)' @click='selectThis(item)'>Like</v-btn>
          </div>
        

      </div>
      </transition-group>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <v-btn class='button' color="#033" @click='addImage'>Add another image</v-btn>
        <v-btn class='button' color="#033" @click='deleteAll'>Delete all</v-btn>
        
  </div> 
</template>

<script>
export default {
  name: 'HelloWorld',
 
  

  data() {
    return {
      bolean: true,
      titleNew: '',
      changeClass: false,
      query:'',
      likeClass: '',
      activeIndex: null,
      search: false,
      planets: false,
      optionChosen: '',
      
    }
  },
  methods: {
    onChange() {
      this.bolean = !this.bolean;
    },
    redirect() {
      if(this.bolean) {
        this.$router.push({path: '/'})
      } else {

      }
    },
    addImage() {
        this.$store.commit('closePopup');
        this.$router.push('/');
    },
    selectThis(item) {
      item.isActive = !item.isActive;
      
    },
    deleteImage(index) {
        this.$store.commit('deleteImage', index);
    },
    doNothing() {
      return
    },
    deleteAll() {
      this.$store.commit('deleteAll');
    },
    chosenOption(event) {
      var e = document.getElementById("options").value
      this.optionChosen = e;
    },
    searchEvent() {
      this.planets = false
      return this.search = !this.search
    },
    planetsEvent() {
      this.search = false
      return this.planets = !this.planets

    }

        
    
  
  
  },
  computed: {
    filteredList() {
      if(!this.search && !this.planets) {
         return this.$store.state.newDate
      }
     
      else if(this.search) {
          return this.$store.state.newDate.filter(item => {
          return item.newTitle.toLowerCase().includes(this.query.toLowerCase())
        })
      } else if(this.planets) {
        console.log('test')
        return this.$store.state.newDate.filter(item => {
          return item.newQuery.toLowerCase().includes(this.optionChosen.toLowerCase())
        })
      }
      
    },




  }
  
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .hello {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 10px;
    }

    #options {
      border: 1px solid black;
      width: 10%;
      padding: 10px;
    }

    #options::options {
      text-align: center;
      margin-left: 50%;
    }

    .image {
        max-width: 100%;
    }

    .subMenu {
        margin-bottom: 0;
    }
    .likeClass {
      -webkit-box-shadow: -1px -1px 6px 4px rgba(194,51,46,1);
      -moz-box-shadow: -1px -1px 6px 4px rgba(194,51,46,1);
      box-shadow: -1px -1px 6px 4px rgba(194,51,46,1);
    }
    .addFlex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .button {
      margin: 0 auto;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      margin: 20px;
    }

    .field {
      width: 40%;
      margin: 0 auto;
    }

    .fade-enter-active, .fade-leave-active {
      transition: all .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
      transform: translateX(-100%)
    }
</style>
