<template>
  <div class="hello">
    <h1 style="margin: 0">{{$store.state.title}}</h1>
    <img :src="$store.state.id" alt="">
    <h2 style='margin-bottom: 10px;'>Do you want to keep this image?</h2>
      <select class='selection' @change="onChange()">
        <option  value="volvo">Yes</option>
        <option  value="saab">No</option>
      </select>
    
    <div v-if="bolean">
      <h2 style="margin: 10px 0">Do you want to change the title?</h2>
      <v-text-field type="text" class='textField' v-model="newImage.newTitle" placeholder="Type your new title"></v-text-field>
    </div>
    
    <br>
    <v-btn class='button' color="#033" @click="redirect" type='submit'> Change it!</v-btn>
    
    
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
 
  

  data() {
    return {
      bolean: true,
      
      newImage: {
        newTitle: this.titleNew,
        newImage: this.$store.state.id,
        newQuery: this.$store.state.queries,
        isActive: false,
        id: 0
      }     
    }
  },
  methods: {
    onChange() {
      this.bolean = !this.bolean;
    },
    redirect() {
      if(this.bolean) {
        this.$store.commit('setNewImage', this.newImage);
        this.$router.push('/FinalPage')
      } else {
        this.$store.commit('closePopup');
        this.$router.push('/')
      }
    }
  
  },
  
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.selection {
  width: 20%;
  padding: 10px;
  border: 1px solid black;
  color: black;
  margin: 10px 0;
}

.button {
  background-color: black;
  width: 10%;
  margin: 0  auto 5px auto;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.input {
  border: 1px solid black;
}

.textField {
  width: 20%;
  margin: 0 auto;
}

.textField::placeholder {
  text-align: center;
  margin: 0 auto;
}

</style>
