<template>
  <div id="app">
    <Search />
    <popup />
  </div>
</template>

<script>
import Search from './components/Search.vue'
import popup from './components/popup.vue'
export default {
  name: 'app',
  components: {
    Search,
    popup
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
