<template>
  <div class="popup" v-if='$store.state.popup'>
    <span @click="$store.state.popup = false">X</span>
    <h1>{{$store.state.title}}</h1>
    <p>{{this.close}}</p>
    <v-zoom class="image"  :img="$store.state.id" :width='width' alt=""></v-zoom>
    <v-btn class='button' color="#033" @click.prevent="redirect">Keep image</v-btn>
  </div>
</template>

<script>
import vZoom from 'vue-zoom'

export default {
    components: {vZoom},
  data() {
      return {
          results: '',
          close: '',
          width: 500
      }
  },
  computed: {

  },
   methods: {
        getResult(query) {
            axios.get('https://images-api.nasa.gov/search?q=' + query + '&media_type=image').then(response => {
                this.results = response.data.collection.items;
                
            })
        },
        closePopup() {
            return this.close = false;
        },
        redirect() {
            
            this.$router.push('/helloWorld');
            return this.close = false;
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.popup {
    position: fixed;
    width: 500px;
    height: auto;
    background-color: black;
    color: white;
    z-index: 9999;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.popup span {
    float: right;
    padding: 5px;
    cursor: pointer;
}

.image {
    max-width: 100%;
}

.button {
    width: 30%;
    margin: 0 auto;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
</style>
