<template>
  <div class="search">
     <popup></popup>
     <h1>Search for a nasa picture</h1>
    <v-form class='form' @submit.prevent='getResult(query)'>
        <v-text-field style='padding: 10px' type="text" placeholder="Type your search" v-model="query"></v-text-field>
        
    </v-form>
    <div class='grid' v-if="results">
        <div class="image-container" v-for="(result, index) in results">
            <equalizer 
                :classes="['image']">
           
            </equalizer>
             <img @click="clicked(result.links[0].href, result.data[0].title, query)" class="image" :src="result.links[0].href" alt="" :id="index" >
            
        </div>

    </div>

        
   
    
  </div>
</template>

<script>
import Popup from './Popup.vue'
import axios from 'axios';
export default {
  name: 'Search',
  components: {
    Popup
  },
    data () {
        return {
            msg: 'search',
            query: '',
            results: '',
        }
    },
    methods: {
        getResult(query) {
            axios.get('https://images-api.nasa.gov/search?q=' + query + '&media_type=image').then(response => {
                this.results = response.data.collection.items;
                this.title = response.data.collection.items
                
            });
            
        },
        clicked(index, title, query) {
            this.$store.commit('showPopup');
            this.$store.commit('showId', index);
            this.$store.commit('showTitle', title);
            this.$store.commit('saveQuery', query);
        },
        test(result) {
            return result

        }
        
    },
    computed: {

    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 10px;
}

.image-container img {
    max-width: 100%;
    cursor: pointer;
}

.form {
    margin-bottom: 20px;
}

.form input {
    height: 50px;
     width: 500px;
     font-size: 25px;
}

.form input::placeholder {
    text-align: center;
}

</style>
