<template>
  <div id="app">
    <router-view></router-view>
     <v-footer style='z-index: -1' fixed='true' class="pa-3">
    <v-spacer></v-spacer>
    <div>Davide Simone Di Salvo&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
  </div>
</template>

<script>
export default {
  name: 'app',
  
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
